*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
   font-family: "Open Sans", sans-serif;
}
header{
    width: 100%;
    height:80px;
    background-color: #412567;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px auto;
    border-bottom: 2px solid black;
}
.headlogo{
    color: white;
    font-size: 32px;

}
.headlogo span{
    color:rgba(145, 0, 248, 1);
}
nav .manu{
    display: flex;

}
.manu li{
    list-style: none;
    margin-left: 15px;
   
}

.icon{
    display:none;
    cursor: pointer;
}
li a{
    text-decoration: none;
     font-size: 18px;
    color: white;
}

.btn{
width: 100px;
display: flex;
padding-top: 7px;
border-radius: 15px;
padding-left: 10px;
border: none;

background: linear-gradient(to right, red, yellow, green)


}
.btn img{
    color: black;
}



@media screen and (max-width:557px) {
   body{
background-color: red;
   } 
    
 
  nav .manu{
    display: none;
  }
  .btn{
    display: none;
  }
   .icon{
display:block;
  }

    
}