*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
   font-family: "Open Sans", sans-serif;
}
header{
    width: 100%;
    height:80px;
    background-color: #412567;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px auto;
    border-bottom: 2px solid black;
}
.headlogo{
    color: white;
    font-size: 32px;

}
.headlogo span{
    color:rgba(145, 0, 248, 1);
}
nav .manu{
    display: flex;

}
.manu li{
    list-style: none;
    margin-left: 15px;
   
}

.icon{
    display:none;
    cursor: pointer;
}
li a{
    text-decoration: none;
     font-size: 18px;
    color: white;
}

.btn{
width: 100px;
display: flex;
padding-top: 7px;
border-radius: 15px;
padding-left: 10px;
border: none;

background: linear-gradient(to right, red, yellow, green)


}
.btn img{
    color: black;
}

/* banner */

.banner{
    background-image:url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
   
}
.conten{
   width:550px;
   height:560px; 
  
  justify-content: center;
}

.img-hero{
  position: relative;
  width: 300px;
  
}

.bg-img{
  width:350px;
  margin: 10px 85px;
  z-index: 2;
}

.top-img{
  position: absolute;
  margin-top:100px;
  margin-left:-320px;
  width: 120px;
  z-index: 5;
}
.sm-btn{
    position:absolute;
 width: 60px;
 padding: 5px;
 height: 30px;
 background-color: rgb(30, 192, 84);
 color: black;
 border-radius: 20px;
 margin-left: 359px;
 margin-top: 40px;
 border: none;
   cursor: pointer;
  transition: 0.3s;

}
.sm-btn:hover{
  transform: scale(1.1);
}
.sm-btn{
  animation: pulse 1.5s infinite;
}

@keyframes pulse{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1);
  }
}


.conten h2{
    text-align: center;
}

.conten p{
    text-align: center;
    margin-top: 20px;
    color: rgb(183, 190, 196);
    font-size: 15px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
    margin-top: 20px;
}
.btn2{
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    background-color:rgb(54, 11, 95);
    color:#00FF88 ;
    border: none;
    
}
.btn2 span{
  margin-right: 5px;
}
.btn-5{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px

}
.btn-5 span{
  margin-right: 5px;
}

@media screen and (max-width:557px) {
   body{
 } 
    
 
  nav .manu{
    display: none;
  }
  .btn{
    display: none;
  }
   .icon{
display:block;
  }

  /* manu */

  .conten h2{
  font-size: 40px;
    text-align: center;
  }

.btn-5{
    width:150px;
    display: block;
}

    
}